aiohttp==3.10.5
asyncpg==0.29.0
aerich==0.7.2
celery==5.4.0
fastapi==0.115.0
loguru==0.7.2
networkx==3.3
numpy==2.1.2
pandas==2.2.2
plotly==5.24.1
pydantic==2.9.0
pydantic-settings==2.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
redis==5.1.0
scrapy==2.11.1
tortoise-orm==0.21.5
uvicorn[standard]==0.30.1